<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>platform001.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1024},{470,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,427}}</string>
                <key>sourceSize</key>
                <string>{470,427}</string>
            </dict>
            <key>platform002.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,592},{408,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,289}}</string>
                <key>sourceSize</key>
                <string>{408,289}</string>
            </dict>
            <key>platform003.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1496},{303,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,327}}</string>
                <key>sourceSize</key>
                <string>{303,327}</string>
            </dict>
            <key>platform004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{985,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,296}}</string>
                <key>sourceSize</key>
                <string>{985,296}</string>
            </dict>
            <key>platform005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1496},{362,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,478}}</string>
                <key>sourceSize</key>
                <string>{362,478}</string>
            </dict>
            <key>platform006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{592,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,302}}</string>
                <key>sourceSize</key>
                <string>{592,302}</string>
            </dict>
            <key>platform007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{992,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{992,290}}</string>
                <key>sourceSize</key>
                <string>{992,290}</string>
            </dict>
            <key>platform008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{574,582}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,582}}</string>
                <key>sourceSize</key>
                <string>{574,582}</string>
            </dict>
            <key>platform009.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1496},{240,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,344}}</string>
                <key>sourceSize</key>
                <string>{240,344}</string>
            </dict>
            <key>platform010.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,883},{139,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,367}}</string>
                <key>sourceSize</key>
                <string>{139,367}</string>
            </dict>
            <key>player001.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1976},{39,43}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{39,43}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>player002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1976},{45,41}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{45,41}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>player003.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,964},{47,41}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{47,41}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>player004.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,919},{47,43}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{47,43}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>player005.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,1976},{37,45}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>player006.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,429},{27,41}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{27,41}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>player007.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,294},{31,43}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{31,43}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>player008.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1976},{43,41}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{43,41}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>player009.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1976},{43,39}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{43,39}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>player010.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1976},{43,43}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{43,43}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>player011.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,380},{29,47}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{29,47}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>player012.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,339},{31,39}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{31,39}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>player013.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,883},{34,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jumpit2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90f76d1be39b5088c47ab90e6e088328$</string>
            <key>textureFileName</key>
            <string>jumpit2.png</string>
        </dict>
    </dict>
</plist>
