<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2296,3860},{222,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,242}}</string>
                <key>sourceSize</key>
                <string>{222,242}</string>
            </dict>
            <key>about_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,2524},{1334,282}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{1334,282}}</string>
                <key>sourceSize</key>
                <string>{1334,370}</string>
            </dict>
            <key>back_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2078},{214,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,242}}</string>
                <key>sourceSize</key>
                <string>{214,242}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,1538}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1538}}</string>
                <key>sourceSize</key>
                <string>{2048,1538}</string>
            </dict>
            <key>bat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,2078},{156,202}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{156,202}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>bat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2328,1374},{158,172}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{158,172}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>bat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,2322},{182,138}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{182,138}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>bat_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2328,1718},{160,160}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{160,160}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>bee_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2322},{185,155}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,22},{185,155}}</string>
                <key>sourceSize</key>
                <string>{207,195}</string>
            </dict>
            <key>bee_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2049,2282},{181,155}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{181,155}}</string>
                <key>sourceSize</key>
                <string>{207,195}</string>
            </dict>
            <key>bee_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2322},{185,147}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{185,147}}</string>
                <key>sourceSize</key>
                <string>{207,195}</string>
            </dict>
            <key>bee_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,2322},{181,155}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{181,155}}</string>
                <key>sourceSize</key>
                <string>{207,195}</string>
            </dict>
            <key>bee_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2322},{185,155}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,22},{185,155}}</string>
                <key>sourceSize</key>
                <string>{207,195}</string>
            </dict>
            <key>bee_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,2322},{181,155}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{181,155}}</string>
                <key>sourceSize</key>
                <string>{207,195}</string>
            </dict>
            <key>bee_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,2322},{185,147}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{185,147}}</string>
                <key>sourceSize</key>
                <string>{207,195}</string>
            </dict>
            <key>bee_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,2322},{181,155}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{181,155}}</string>
                <key>sourceSize</key>
                <string>{207,195}</string>
            </dict>
            <key>bee_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2322},{185,155}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,22},{185,155}}</string>
                <key>sourceSize</key>
                <string>{207,195}</string>
            </dict>
            <key>bee_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,2322},{181,155}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{181,155}}</string>
                <key>sourceSize</key>
                <string>{207,195}</string>
            </dict>
            <key>bee_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,2322},{185,147}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{185,147}}</string>
                <key>sourceSize</key>
                <string>{207,195}</string>
            </dict>
            <key>bee_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,2322},{181,155}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{181,155}}</string>
                <key>sourceSize</key>
                <string>{207,195}</string>
            </dict>
            <key>bee_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,2322},{181,155}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{181,155}}</string>
                <key>sourceSize</key>
                <string>{207,195}</string>
            </dict>
            <key>bee_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,2078},{151,210}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{151,210}}</string>
                <key>sourceSize</key>
                <string>{207,240}</string>
            </dict>
            <key>bee_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,2292},{141,212}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{141,212}}</string>
                <key>sourceSize</key>
                <string>{207,240}</string>
            </dict>
            <key>bee_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,2290},{123,210}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,15},{123,210}}</string>
                <key>sourceSize</key>
                <string>{207,240}</string>
            </dict>
            <key>bee_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,2078},{141,212}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{141,212}}</string>
                <key>sourceSize</key>
                <string>{207,240}</string>
            </dict>
            <key>bee_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,2322},{185,147}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{185,147}}</string>
                <key>sourceSize</key>
                <string>{207,195}</string>
            </dict>
            <key>bee_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,2322},{181,155}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{181,155}}</string>
                <key>sourceSize</key>
                <string>{207,195}</string>
            </dict>
            <key>bee_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2322},{185,155}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,22},{185,155}}</string>
                <key>sourceSize</key>
                <string>{207,195}</string>
            </dict>
            <key>bee_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,2322},{181,155}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{181,155}}</string>
                <key>sourceSize</key>
                <string>{207,195}</string>
            </dict>
            <key>bee_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,2322},{185,147}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{185,147}}</string>
                <key>sourceSize</key>
                <string>{207,195}</string>
            </dict>
            <key>bee_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,2322},{181,155}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{181,155}}</string>
                <key>sourceSize</key>
                <string>{207,195}</string>
            </dict>
            <key>bee_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2322},{185,155}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,22},{185,155}}</string>
                <key>sourceSize</key>
                <string>{207,195}</string>
            </dict>
            <key>bluebird_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2328,1194},{178,172}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,35},{178,172}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>bluebird_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2328,1012},{180,156}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,36},{180,156}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>bluebird_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2294,2074},{180,156}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{180,156}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>bluebird_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2322},{188,136}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,39},{188,136}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>bluebird_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2322},{172,192}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{172,192}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>easy_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2078},{220,242}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{220,242}}</string>
                <key>sourceSize</key>
                <string>{226,242}</string>
            </dict>
            <key>game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2336,726},{1276,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1276,284}}</string>
                <key>sourceSize</key>
                <string>{1276,284}</string>
            </dict>
            <key>game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,2},{1600,722}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1600,722}}</string>
                <key>sourceSize</key>
                <string>{1600,722}</string>
            </dict>
            <key>get_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,726},{1172,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1172,274}}</string>
                <key>sourceSize</key>
                <string>{1172,274}</string>
            </dict>
            <key>grass_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2490,1648},{2048,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,120}}</string>
                <key>sourceSize</key>
                <string>{2048,120}</string>
            </dict>
            <key>hard_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2078},{214,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,242}}</string>
                <key>sourceSize</key>
                <string>{214,242}</string>
            </dict>
            <key>head_ui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1862},{2048,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,214}}</string>
                <key>sourceSize</key>
                <string>{2048,214}</string>
            </dict>
            <key>hills_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{2048,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,318}}</string>
                <key>sourceSize</key>
                <string>{2048,318}</string>
            </dict>
            <key>hit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2486,1012},{160,172}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{160,172}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4014,150},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4014,80},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4002,420},{62,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,66}}</string>
                <key>sourceSize</key>
                <string>{62,66}</string>
            </dict>
            <key>item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4008,224},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{66,70}</string>
            </dict>
            <key>item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4002,352},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>item_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4014,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>item_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{4008,292},{58,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>ladybug_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2420},{104,102}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,18},{104,102}}</string>
                <key>sourceSize</key>
                <string>{150,162}</string>
            </dict>
            <key>ladybug_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2439,1548},{98,98}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,22},{98,98}}</string>
                <key>sourceSize</key>
                <string>{150,162}</string>
            </dict>
            <key>ladybug_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3998,786},{104,94}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{104,94}}</string>
                <key>sourceSize</key>
                <string>{150,162}</string>
            </dict>
            <key>ladybug_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3998,678},{94,106}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,14},{94,106}}</string>
                <key>sourceSize</key>
                <string>{150,162}</string>
            </dict>
            <key>main_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2078},{214,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,242}}</string>
                <key>sourceSize</key>
                <string>{214,242}</string>
            </dict>
            <key>medium_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,3860},{232,242}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,242}}</string>
                <key>sourceSize</key>
                <string>{236,242}</string>
            </dict>
            <key>play_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2078},{214,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,242}}</string>
                <key>sourceSize</key>
                <string>{214,242}</string>
            </dict>
            <key>playagain_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2078},{216,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,242}}</string>
                <key>sourceSize</key>
                <string>{216,242}</string>
            </dict>
            <key>redbird_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2167,1900},{178,172}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,35},{178,172}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>redbird_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2206,2260},{180,156}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,36},{180,156}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>redbird_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2136,2078},{180,156}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{180,156}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>redbird_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2322},{188,136}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,39},{188,136}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>redbird_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2322},{172,192}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{172,192}}</string>
                <key>sourceSize</key>
                <string>{200,216}</string>
            </dict>
            <key>squirrel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,1900},{176,113}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{176,113}}</string>
                <key>sourceSize</key>
                <string>{200,131}</string>
            </dict>
            <key>squirrel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2420},{184,99}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{184,99}}</string>
                <key>sourceSize</key>
                <string>{200,131}</string>
            </dict>
            <key>squirrel_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,2322},{182,109}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,22},{182,109}}</string>
                <key>sourceSize</key>
                <string>{200,131}</string>
            </dict>
            <key>squirrel_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3998,484},{192,95}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,24},{192,95}}</string>
                <key>sourceSize</key>
                <string>{200,131}</string>
            </dict>
            <key>squirrel_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2328,1548},{168,109}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{168,109}}</string>
                <key>sourceSize</key>
                <string>{200,131}</string>
            </dict>
            <key>start_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2078},{220,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,242}}</string>
                <key>sourceSize</key>
                <string>{220,242}</string>
            </dict>
            <key>trees_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3654,474},{2048,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,342}}</string>
                <key>sourceSize</key>
                <string>{2048,342}</string>
            </dict>
            <key>watchout_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3654,2},{358,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,162}}</string>
                <key>sourceSize</key>
                <string>{358,162}</string>
            </dict>
            <key>watchout_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3654,166},{352,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,152}}</string>
                <key>sourceSize</key>
                <string>{352,152}</string>
            </dict>
            <key>watchout_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3654,320},{346,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,152}}</string>
                <key>sourceSize</key>
                <string>{346,152}</string>
            </dict>
            <key>watchout_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2078},{340,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,152}}</string>
                <key>sourceSize</key>
                <string>{340,152}</string>
            </dict>
            <key>wind.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2524},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet-ipad3.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a37526551868abca4fa119cb468c671$</string>
            <key>textureFileName</key>
            <string>spritesheet-ipad3.png</string>
        </dict>
    </dict>
</plist>
