<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1594},{72,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,79}}</string>
                <key>sourceSize</key>
                <string>{72,79}</string>
            </dict>
            <key>about_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1951},{434,94}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{434,94}}</string>
                <key>sourceSize</key>
                <string>{434,120}</string>
            </dict>
            <key>back_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1460},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{854,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{854,480}}</string>
                <key>sourceSize</key>
                <string>{854,480}</string>
            </dict>
            <key>bat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1808},{84,107}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{84,107}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>bat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1808},{84,91}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{84,91}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>bat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1333},{96,75}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{96,75}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>bat_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1808},{86,85}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{86,85}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>bat_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1808},{86,93}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{86,93}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>bee_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1650},{72,59}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{72,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1613},{70,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{70,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1190},{70,57}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,57}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1541},{70,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{70,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1650},{72,59}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{72,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1541},{70,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{70,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1271},{70,57}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,57}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1541},{70,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{70,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1650},{72,59}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{72,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1541},{70,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{70,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1271},{70,57}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,57}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1541},{70,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{70,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1541},{70,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{70,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1216},{58,80}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{58,80}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>bee_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1216},{56,80}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,80}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>bee_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1109},{48,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{48,80}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>bee_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1990},{56,80}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,80}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>bee_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1271},{70,57}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,57}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1541},{70,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{70,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1650},{72,59}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{72,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1541},{70,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{70,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1271},{70,57}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,57}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1541},{70,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{70,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1650},{72,59}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{72,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bluebird_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1897},{94,91}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{94,91}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>bluebird_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1949},{96,85}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,17},{96,85}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>bluebird_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1949},{96,83}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{96,83}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>bluebird_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1492},{100,73}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{100,73}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>bluebird_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1610},{90,101}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{90,101}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>easy_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1714},{74,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,79}}</string>
                <key>sourceSize</key>
                <string>{74,79}</string>
            </dict>
            <key>game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1714},{415,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,92}}</string>
                <key>sourceSize</key>
                <string>{415,92}</string>
            </dict>
            <key>game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1714},{521,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,235}}</string>
                <key>sourceSize</key>
                <string>{521,235}</string>
            </dict>
            <key>get_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1109},{382,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,89}}</string>
                <key>sourceSize</key>
                <string>{382,89}</string>
            </dict>
            <key>grass_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1057},{854,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{854,50}}</string>
                <key>sourceSize</key>
                <string>{854,50}</string>
            </dict>
            <key>hard_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1379},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>head_ui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{854,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{854,89}}</string>
                <key>sourceSize</key>
                <string>{854,89}</string>
            </dict>
            <key>hills_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,858},{854,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{854,133}}</string>
                <key>sourceSize</key>
                <string>{854,133}</string>
            </dict>
            <key>item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,916},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,888},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,1022},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,944},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,995},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>item_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,858},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>item_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,971},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>ladybug_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1990},{54,55}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{54,55}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>ladybug_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1436},{54,53}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{54,53}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>ladybug_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1897},{56,51}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{56,51}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>ladybug_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1436},{50,57}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{50,57}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>main_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1190},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>medium_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1109},{75,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,79}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>play_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1298},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>playagain_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1569},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>redbird_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1951},{94,91}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,18},{94,91}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>redbird_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1950},{96,85}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,17},{96,85}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>redbird_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1949},{96,83}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{96,83}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>redbird_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1795},{100,73}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{100,73}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>redbird_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1611},{90,101}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{90,101}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>squirrel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1109},{105,69}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{105,69}}</string>
                <key>sourceSize</key>
                <string>{117,77}</string>
            </dict>
            <key>squirrel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1109},{111,61}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{111,61}}</string>
                <key>sourceSize</key>
                <string>{117,77}</string>
            </dict>
            <key>squirrel_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1222},{109,67}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{109,67}}</string>
                <key>sourceSize</key>
                <string>{117,77}</string>
            </dict>
            <key>squirrel_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,1493},{115,57}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{115,57}}</string>
                <key>sourceSize</key>
                <string>{117,77}</string>
            </dict>
            <key>squirrel_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1333},{101,65}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{101,65}}</string>
                <key>sourceSize</key>
                <string>{117,77}</string>
            </dict>
            <key>stars.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>start_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1488},{71,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,79}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>trees_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{854,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{854,142}}</string>
                <key>sourceSize</key>
                <string>{854,142}</string>
            </dict>
            <key>watchout_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1493},{116,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,53}}</string>
                <key>sourceSize</key>
                <string>{116,53}</string>
            </dict>
            <key>watchout_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1897},{115,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,50}}</string>
                <key>sourceSize</key>
                <string>{115,50}</string>
            </dict>
            <key>watchout_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1897},{113,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,50}}</string>
                <key>sourceSize</key>
                <string>{113,50}</string>
            </dict>
            <key>watchout_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1897},{111,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,50}}</string>
                <key>sourceSize</key>
                <string>{111,50}</string>
            </dict>
            <key>wind.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{854,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{854,480}}</string>
                <key>sourceSize</key>
                <string>{854,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>android_854x480.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2f6f1dbde0cbf384a356cb75766aad9$</string>
            <key>textureFileName</key>
            <string>android_854x480.png</string>
        </dict>
    </dict>
</plist>
