<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,604},{111,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,121}}</string>
                <key>sourceSize</key>
                <string>{111,121}</string>
            </dict>
            <key>about_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1355},{667,141}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{667,141}}</string>
                <key>sourceSize</key>
                <string>{667,185}</string>
            </dict>
            <key>audio_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{2005,266},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>audio_med.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,189},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>audio_min.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,148},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>audio_mute.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,228},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>back_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,604},{107,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,121}}</string>
                <key>sourceSize</key>
                <string>{107,121}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1355},{1024,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,600}}</string>
                <key>sourceSize</key>
                <string>{1024,600}</string>
            </dict>
            <key>bat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,639},{126,163}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{126,163}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>bat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,745},{128,137}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{128,137}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>bat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,1933},{146,111}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{146,111}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>bat_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,604},{128,129}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{128,129}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>bat_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{128,139}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{128,139}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>bee_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1957},{106,89}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{106,89}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>bee_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1957},{102,89}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{102,89}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>bee_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1957},{104,83}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{104,83}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>bee_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1957},{102,89}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{102,89}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>bee_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1957},{106,89}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{106,89}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>bee_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1957},{102,89}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{102,89}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>bee_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1957},{104,83}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{104,83}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>bee_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1957},{102,89}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{102,89}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>bee_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1957},{106,89}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{106,89}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>bee_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1957},{102,89}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{102,89}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>bee_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1957},{104,83}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{104,83}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>bee_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1957},{102,89}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{102,89}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>bee_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1957},{102,89}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{102,89}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>bee_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1957},{86,118}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{86,118}}</string>
                <key>sourceSize</key>
                <string>{116,134}</string>
            </dict>
            <key>bee_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,1957},{82,120}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{82,120}}</string>
                <key>sourceSize</key>
                <string>{116,134}</string>
            </dict>
            <key>bee_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,1970},{70,118}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{70,118}}</string>
                <key>sourceSize</key>
                <string>{116,134}</string>
            </dict>
            <key>bee_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,1957},{82,120}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{82,120}}</string>
                <key>sourceSize</key>
                <string>{116,134}</string>
            </dict>
            <key>bee_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1957},{104,83}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{104,83}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>bee_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1957},{102,89}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{102,89}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>bee_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1957},{106,89}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{106,89}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>bee_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1957},{102,89}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{102,89}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>bee_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1957},{104,83}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{104,83}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>bee_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1957},{102,89}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{102,89}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>bee_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1957},{106,89}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{106,89}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>bluebird_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,1887},{142,137}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{142,137}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>bluebird_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,1843},{144,125}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{144,125}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>bluebird_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,1760},{144,125}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{144,125}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>bluebird_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,1466},{152,109}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,32},{152,109}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>bluebird_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,767},{138,153}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{138,153}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>easy_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,735},{111,121}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{111,121}}</string>
                <key>sourceSize</key>
                <string>{113,121}</string>
            </dict>
            <key>game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1355},{638,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,142}}</string>
                <key>sourceSize</key>
                <string>{638,142}</string>
            </dict>
            <key>game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{800,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,361}}</string>
                <key>sourceSize</key>
                <string>{800,361}</string>
            </dict>
            <key>get_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,1355},{586,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,137}}</string>
                <key>sourceSize</key>
                <string>{586,137}</string>
            </dict>
            <key>grass_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,907},{1024,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,60}}</string>
                <key>sourceSize</key>
                <string>{1024,60}</string>
            </dict>
            <key>hard_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,727},{107,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,121}}</string>
                <key>sourceSize</key>
                <string>{107,121}</string>
            </dict>
            <key>head_ui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,907},{1024,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,107}}</string>
                <key>sourceSize</key>
                <string>{1024,107}</string>
            </dict>
            <key>hills_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,505},{1024,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,159}}</string>
                <key>sourceSize</key>
                <string>{1024,159}</string>
            </dict>
            <key>item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2005,304},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2011,68},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2003,377},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2011,2},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2003,342},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>item_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,108},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>item_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2011,37},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>ladybug_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,1577},{82,82}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{82,82}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>ladybug_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,1661},{80,80}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{80,80}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>ladybug_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1957},{84,76}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,21},{84,76}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>ladybug_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1957},{76,86}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{76,86}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>main_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,1866},{107,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,121}}</string>
                <key>sourceSize</key>
                <string>{107,121}</string>
            </dict>
            <key>medium_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,735},{116,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,121}}</string>
                <key>sourceSize</key>
                <string>{118,121}</string>
            </dict>
            <key>play_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,1743},{107,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,121}}</string>
                <key>sourceSize</key>
                <string>{107,121}</string>
            </dict>
            <key>playagain_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,604},{108,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,121}}</string>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>redbird_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,1577},{144,137}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{144,137}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>redbird_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,1716},{144,125}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{144,125}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>redbird_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,1633},{144,125}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{144,125}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>redbird_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,1355},{152,109}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,32},{152,109}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>redbird_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,365},{138,153}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{138,153}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>squirrel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,1943},{160,102}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{160,102}}</string>
                <key>sourceSize</key>
                <string>{180,118}</string>
            </dict>
            <key>squirrel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,443},{166,92}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{166,92}}</string>
                <key>sourceSize</key>
                <string>{180,118}</string>
            </dict>
            <key>squirrel_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,537},{164,100}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{164,100}}</string>
                <key>sourceSize</key>
                <string>{180,118}</string>
            </dict>
            <key>squirrel_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,163},{174,86}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{174,86}}</string>
                <key>sourceSize</key>
                <string>{180,118}</string>
            </dict>
            <key>squirrel_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,1531},{152,100}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{152,100}}</string>
                <key>sourceSize</key>
                <string>{180,118}</string>
            </dict>
            <key>start_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,727},{110,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,121}}</string>
                <key>sourceSize</key>
                <string>{110,121}</string>
            </dict>
            <key>trees_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,329},{1024,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,171}}</string>
                <key>sourceSize</key>
                <string>{1024,171}</string>
            </dict>
            <key>watchout_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,2},{179,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,81}}</string>
                <key>sourceSize</key>
                <string>{179,81}</string>
            </dict>
            <key>watchout_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,85},{176,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,76}}</string>
                <key>sourceSize</key>
                <string>{176,76}</string>
            </dict>
            <key>watchout_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,251},{173,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,76}}</string>
                <key>sourceSize</key>
                <string>{173,76}</string>
            </dict>
            <key>watchout_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,365},{170,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,76}}</string>
                <key>sourceSize</key>
                <string>{170,76}</string>
            </dict>
            <key>wind.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,600}}</string>
                <key>sourceSize</key>
                <string>{1024,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>android_1024x600.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e57ea815dec9ceb2eb6bce71486e3668$</string>
            <key>textureFileName</key>
            <string>android_1024x600.png</string>
        </dict>
    </dict>
</plist>
