<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1531},{72,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,79}}</string>
                <key>sourceSize</key>
                <string>{72,79}</string>
            </dict>
            <key>about_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{434,94}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{434,94}}</string>
                <key>sourceSize</key>
                <string>{434,120}</string>
            </dict>
            <key>back_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1884},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>bat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1348},{84,107}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{84,107}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>bat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1413},{84,91}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{84,91}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>bat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1258},{96,75}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{96,75}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>bat_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1335},{86,85}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{86,85}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>bat_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1436},{86,93}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{86,93}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>bee_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1803},{72,59}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{72,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1606},{70,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{70,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1949},{70,57}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,57}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1705},{70,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{70,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1803},{72,59}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{72,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1705},{70,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{70,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1877},{70,57}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,57}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1705},{70,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{70,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1803},{72,59}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{72,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1705},{70,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{70,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1877},{70,57}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,57}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1705},{70,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{70,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1705},{70,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{70,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1252},{58,80}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{58,80}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>bee_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1990},{56,80}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,80}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>bee_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1423},{48,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{48,80}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>bee_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1990},{56,80}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,80}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>bee_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1877},{70,57}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,57}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1705},{70,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{70,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1803},{72,59}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{72,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1705},{70,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{70,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1877},{70,57}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,57}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1705},{70,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{70,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bee_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1803},{72,59}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{72,59}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>bluebird_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1317},{94,91}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,18},{94,91}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>bluebird_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1338},{96,85}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,17},{96,85}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>bluebird_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1606},{96,83}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{96,83}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>bluebird_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1348},{100,73}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{100,73}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>bluebird_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1602},{90,101}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{90,101}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>easy_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1252},{74,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,79}}</string>
                <key>sourceSize</key>
                <string>{74,79}</string>
            </dict>
            <key>game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,804},{415,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,92}}</string>
                <key>sourceSize</key>
                <string>{415,92}</string>
            </dict>
            <key>game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1015},{521,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,235}}</string>
                <key>sourceSize</key>
                <string>{521,235}</string>
            </dict>
            <key>get_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1606},{382,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,89}}</string>
                <key>sourceSize</key>
                <string>{382,89}</string>
            </dict>
            <key>grass_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{800,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,47}}</string>
                <key>sourceSize</key>
                <string>{800,47}</string>
            </dict>
            <key>hard_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1803},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>head_ui.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,2},{800,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,83}}</string>
                <key>sourceSize</key>
                <string>{800,83}</string>
            </dict>
            <key>hills_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,804},{800,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,124}}</string>
                <key>sourceSize</key>
                <string>{800,124}</string>
            </dict>
            <key>item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1564},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1564},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1559},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1310},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1559},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>item_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1564},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>item_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1310},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>ladybug_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1548},{54,55}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{54,55}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>ladybug_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1777},{54,53}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{54,53}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>ladybug_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1548},{56,51}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{56,51}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>ladybug_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1877},{50,57}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{50,57}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>main_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1229},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>medium_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1334},{75,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,79}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>play_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1177},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>playagain_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1096},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>redbird_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1221},{94,91}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,18},{94,91}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>redbird_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1450},{96,85}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,17},{96,85}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>redbird_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1705},{96,83}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{96,83}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>redbird_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1457},{100,73}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{100,73}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>redbird_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1499},{90,101}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{90,101}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>squirrel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1457},{105,69}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{105,69}}</string>
                <key>sourceSize</key>
                <string>{117,77}</string>
            </dict>
            <key>squirrel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1233},{111,61}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{111,61}}</string>
                <key>sourceSize</key>
                <string>{117,77}</string>
            </dict>
            <key>squirrel_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1015},{109,67}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{109,67}}</string>
                <key>sourceSize</key>
                <string>{117,77}</string>
            </dict>
            <key>squirrel_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{115,57}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{115,57}}</string>
                <key>sourceSize</key>
                <string>{117,77}</string>
            </dict>
            <key>squirrel_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1126},{101,65}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{101,65}}</string>
                <key>sourceSize</key>
                <string>{117,77}</string>
            </dict>
            <key>start_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1015},{71,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,79}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>trees_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{800,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,133}}</string>
                <key>sourceSize</key>
                <string>{800,133}</string>
            </dict>
            <key>watchout_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1015},{116,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,53}}</string>
                <key>sourceSize</key>
                <string>{116,53}</string>
            </dict>
            <key>watchout_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1129},{115,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,50}}</string>
                <key>sourceSize</key>
                <string>{115,50}</string>
            </dict>
            <key>watchout_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1181},{113,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,50}}</string>
                <key>sourceSize</key>
                <string>{113,50}</string>
            </dict>
            <key>watchout_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1296},{111,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,50}}</string>
                <key>sourceSize</key>
                <string>{111,50}</string>
            </dict>
            <key>wind.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>android_800x480.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01f4c053b1dd1edbcf5142bc1af26582$</string>
            <key>textureFileName</key>
            <string>android_800x480.png</string>
        </dict>
    </dict>
</plist>
