<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1558},{103,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,113}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>about_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,779},{620,132}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{620,132}}</string>
                <key>sourceSize</key>
                <string>{620,172}</string>
            </dict>
            <key>audio_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,395},{33,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,36}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>audio_med.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,324},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>audio_min.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,288},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>audio_mute.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,360},{33,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,36}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>back_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1945},{100,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,113}}</string>
                <key>sourceSize</key>
                <string>{100,113}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{720,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,480}}</string>
                <key>sourceSize</key>
                <string>{720,480}</string>
            </dict>
            <key>bat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,277},{119,153}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{119,153}}</string>
                <key>sourceSize</key>
                <string>{149,161}</string>
            </dict>
            <key>bat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1691},{119,129}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{119,129}}</string>
                <key>sourceSize</key>
                <string>{149,161}</string>
            </dict>
            <key>bat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,524},{137,105}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{137,105}}</string>
                <key>sourceSize</key>
                <string>{149,161}</string>
            </dict>
            <key>bat_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1822},{121,121}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{121,121}}</string>
                <key>sourceSize</key>
                <string>{149,161}</string>
            </dict>
            <key>bat_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1558},{121,131}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{121,131}}</string>
                <key>sourceSize</key>
                <string>{149,161}</string>
            </dict>
            <key>bee_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,1073},{100,83}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{100,83}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>bee_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,1273},{96,83}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{96,83}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>bee_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1673},{98,79}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{98,79}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>bee_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,1175},{96,83}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{96,83}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>bee_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,1073},{100,83}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{100,83}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>bee_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,1175},{96,83}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{96,83}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>bee_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1806},{98,79}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{98,79}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>bee_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,1175},{96,83}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{96,83}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>bee_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,1073},{100,83}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{100,83}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>bee_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,1175},{96,83}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{96,83}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>bee_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1806},{98,79}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{98,79}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>bee_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,1175},{96,83}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{96,83}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>bee_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,1175},{96,83}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{96,83}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>bee_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,1371},{82,111}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{82,111}}</string>
                <key>sourceSize</key>
                <string>{108,125}</string>
            </dict>
            <key>bee_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1478},{78,113}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{78,113}}</string>
                <key>sourceSize</key>
                <string>{108,125}</string>
            </dict>
            <key>bee_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1401},{66,111}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{66,111}}</string>
                <key>sourceSize</key>
                <string>{108,125}</string>
            </dict>
            <key>bee_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1478},{78,113}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{78,113}}</string>
                <key>sourceSize</key>
                <string>{108,125}</string>
            </dict>
            <key>bee_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1806},{98,79}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{98,79}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>bee_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,1175},{96,83}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{96,83}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>bee_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,1073},{100,83}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{100,83}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>bee_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,1175},{96,83}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{96,83}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>bee_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1806},{98,79}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{98,79}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>bee_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,1175},{96,83}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{96,83}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>bee_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,1073},{100,83}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{100,83}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>bluebird_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,752},{133,129}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{133,129}}</string>
                <key>sourceSize</key>
                <string>{149,161}</string>
            </dict>
            <key>bluebird_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,631},{135,119}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{135,119}}</string>
                <key>sourceSize</key>
                <string>{149,161}</string>
            </dict>
            <key>bluebird_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,716},{135,117}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{135,117}}</string>
                <key>sourceSize</key>
                <string>{149,161}</string>
            </dict>
            <key>bluebird_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,419},{143,103}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{143,103}}</string>
                <key>sourceSize</key>
                <string>{149,161}</string>
            </dict>
            <key>bluebird_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,398},{129,143}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{129,143}}</string>
                <key>sourceSize</key>
                <string>{149,161}</string>
            </dict>
            <key>easy_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1558},{103,113}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{103,113}}</string>
                <key>sourceSize</key>
                <string>{105,113}</string>
            </dict>
            <key>effect_poof.png</key>
            <dict>
                <key>frame</key>
                <string>{{2017,35},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>effect_speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,340},{238,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,14}}</string>
                <key>sourceSize</key>
                <string>{238,14}</string>
            </dict>
            <key>game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,883},{593,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{593,132}}</string>
                <key>sourceSize</key>
                <string>{593,132}</string>
            </dict>
            <key>game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{744,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{744,336}}</string>
                <key>sourceSize</key>
                <string>{744,336}</string>
            </dict>
            <key>get_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,2},{545,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,127}}</string>
                <key>sourceSize</key>
                <string>{545,127}</string>
            </dict>
            <key>grass_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,430},{720,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,42}}</string>
                <key>sourceSize</key>
                <string>{720,42}</string>
            </dict>
            <key>hard_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1945},{100,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,113}}</string>
                <key>sourceSize</key>
                <string>{100,113}</string>
            </dict>
            <key>head_ui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1969,208},{720,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,75}}</string>
                <key>sourceSize</key>
                <string>{720,75}</string>
            </dict>
            <key>hills_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,606},{720,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,112}}</string>
                <key>sourceSize</key>
                <string>{720,112}</string>
            </dict>
            <key>item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,823},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,789},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2017,2},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,858},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,891},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>item_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,752},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>item_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2017,61},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>ladybug_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1478},{78,79}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,12},{78,79}}</string>
                <key>sourceSize</key>
                <string>{112,121}</string>
            </dict>
            <key>ladybug_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1969,131},{76,75}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{76,75}}</string>
                <key>sourceSize</key>
                <string>{112,121}</string>
            </dict>
            <key>ladybug_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1401},{78,73}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{78,73}}</string>
                <key>sourceSize</key>
                <string>{112,121}</string>
            </dict>
            <key>ladybug_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,1484},{72,81}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{72,81}}</string>
                <key>sourceSize</key>
                <string>{112,121}</string>
            </dict>
            <key>main_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,1382},{100,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,113}}</string>
                <key>sourceSize</key>
                <string>{100,113}</string>
            </dict>
            <key>medium_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1691},{108,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,113}}</string>
                <key>sourceSize</key>
                <string>{110,113}</string>
            </dict>
            <key>play_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,1267},{100,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,113}}</string>
                <key>sourceSize</key>
                <string>{100,113}</string>
            </dict>
            <key>playagain_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,1152},{100,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,113}}</string>
                <key>sourceSize</key>
                <string>{100,113}</string>
            </dict>
            <key>redbird_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,529},{135,129}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{135,129}}</string>
                <key>sourceSize</key>
                <string>{149,161}</string>
            </dict>
            <key>redbird_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,595},{135,119}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{135,119}}</string>
                <key>sourceSize</key>
                <string>{149,161}</string>
            </dict>
            <key>redbird_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,660},{135,117}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{135,117}}</string>
                <key>sourceSize</key>
                <string>{149,161}</string>
            </dict>
            <key>redbird_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,490},{143,103}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{143,103}}</string>
                <key>sourceSize</key>
                <string>{149,161}</string>
            </dict>
            <key>redbird_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,288},{129,143}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{129,143}}</string>
                <key>sourceSize</key>
                <string>{149,161}</string>
            </dict>
            <key>squirrel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,392},{147,96}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{147,96}}</string>
                <key>sourceSize</key>
                <string>{167,110}</string>
            </dict>
            <key>squirrel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,208},{155,86}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{155,86}}</string>
                <key>sourceSize</key>
                <string>{167,110}</string>
            </dict>
            <key>squirrel_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,296},{153,94}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{153,94}}</string>
                <key>sourceSize</key>
                <string>{167,110}</string>
            </dict>
            <key>squirrel_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,131},{163,82}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{163,82}}</string>
                <key>sourceSize</key>
                <string>{167,110}</string>
            </dict>
            <key>squirrel_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,930},{141,92}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{141,92}}</string>
                <key>sourceSize</key>
                <string>{167,110}</string>
            </dict>
            <key>stars.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,340},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>start_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1806},{102,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,113}}</string>
                <key>sourceSize</key>
                <string>{102,113}</string>
            </dict>
            <key>trees_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,484},{720,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,120}}</string>
                <key>sourceSize</key>
                <string>{720,120}</string>
            </dict>
            <key>watchout_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,131},{166,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,75}}</string>
                <key>sourceSize</key>
                <string>{166,75}</string>
            </dict>
            <key>watchout_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,131},{164,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,71}}</string>
                <key>sourceSize</key>
                <string>{164,71}</string>
            </dict>
            <key>watchout_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,204},{161,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,71}}</string>
                <key>sourceSize</key>
                <string>{161,71}</string>
            </dict>
            <key>watchout_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,215},{158,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,71}}</string>
                <key>sourceSize</key>
                <string>{158,71}</string>
            </dict>
            <key>wind.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{720,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,480}}</string>
                <key>sourceSize</key>
                <string>{720,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>android_720x480.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96b1ba273cdf3f9f28c10e53f44b6a8c$</string>
            <key>textureFileName</key>
            <string>android_720x480.png</string>
        </dict>
    </dict>
</plist>
